@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Playfair+Display:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fafafa;
  color: #111;
  font-family: Inter, sans-serif;
}

/* NAV */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
}

.logo {
  font-weight: 700;
  letter-spacing: 2px;
}

nav ul {
  display: flex;
  gap: 32px;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 1px;
  background: black;
  transition: 0.3s;
}

nav a:hover::after,
nav a.active::after {
  width: 100%;
}

/* HERO */

.hero {
  padding: 140px 18%;
}

.hero h2 {
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  max-width: 600px;
}

.hero p {
  margin-top: 25px;
  max-width: 450px;
  line-height: 1.7;
  color: #555;
}

/* CONTENT */

.content {
  padding: 100px 18%;
}

.content h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.8rem;
  margin-bottom: 60px;
}

/* CARDS */

.card {
  padding: 40px 0;
  border-bottom: 1px solid #ddd;
}

.card:last-child {
  border-bottom: none;
}

.card h3 {
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.card p {
  line-height: 1.9;
  max-width: 650px;
  color: #333;
}

/* POEM */

.poem-text {
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  line-height: 2;
}

/* SMALL SCREEN */

@media (max-width: 900px) {
  nav {
    padding: 25px;
  }

  .hero,
  .content {
    padding: 70px 10%;
  }

  .hero h2 {
    font-size: 2.8rem;
  }
}

footer {
  font-family: Inter, sans-serif;
  text-align: center;
  padding-bottom: 20px;
}
